<!doctype html>
<meta charset=utf8>
<script src="https://unpkg.com/vue"></script>
<style>
body{font-family:'Liberation Serif';}
img{width:100%}
pre>code,p,.remark-slide-content>ul{font-size:150% !important}
table{width: 100%;border-collapse: collapse;}
td{border:1px solid grey}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
</style>

<textarea id="source">
![](https://i.imgur.com/EKPtgdk.png)

---
# What old website was like
![](https://i.imgur.com/qCRpR5n.png)

---
# What modern website look like
![](https://i.imgur.com/BEyndbb.png)

---

# Back in the 90'
- no much user => mostly geeks
- no much databases => Plain file/MySQL/PostgreSQL
- no framework => made by hand

```sql
SELECT * FROM user WHERE id=$GET['id']
```

- no security => HTTP, SQL injection, public port...
- no interactivity (who care ¯\\＿(ツ)＿/¯ )
- no much traffic => DB + CGI + assets on same server
- Browser war (Microsoft fuck up the standard)

---

# What append in 2005
- Growing internet population  
  [17% 1998 => 81% 2018][intpop] (dev world)  
  **=> More user and traffic**
- iphone (2007) start smartphone trend  
  [6% 2007 => 81% 2017][smartpop] (US)  
  **=> Mobile first + App style UX is the norm**
- New services (Social, Streaming...)  
	FB:2004, TW:2006, YT:2005  
	**=> Companies need standard (HTML5, H264)**

![](https://i.imgur.com/bEkVcTq.jpg)

[intpop]: https://en.wikipedia.org/wiki/Global_Internet_usage#Internet_users
[smartpop]: https://www.comscore.com/Insights/Blog/US-Smartphone-Penetration-Surpassed-80-Percent-in-2016

---

# New challenges arise

- More traffic
	- need Clustering, Load balancing, CDN ...
	- Database parallelization/redundancy
- More services
	- Security is now a must (DAO, salt, HTTPS)
	- Some don't want to handle hardware (Cloud, PAAS...)
	- Larger/complex services (many entities ...) need typing
	- Reuse code/pattern => frameworks appear
- User expect App-like experience
	- KISS over fonctionalities
	- Seamless navigation (no loading)
	- More interactiv (XHR + DOM update)
	- Transition, Audio, video, geo, 3D ...

---

# What's new in 2015+
- New jobs/fields (Community Manager, Security, Infra, ...)
- New Technologies (NoSQL, ES6, TS)
- New Libraries/Framework (Angular, Laravel, ...)
- New standard (fetch, querySelector, ES6)  
- Legacy increase (PHP5, Jquery...)

=> Let's focus on what's good/bad for the web devs
---

# Bad: Web is an App wannabe
- Data Fetching (animation + transition + async)
- Pre-load **all pages** and handle they **routing**
- Lot's of new code (but JS/CSS don't scale)
  - need compat, modularity, bundling, typing...
  - none are standard, so **new tools/libs** appeared:  
  TS, webpack, gulp, bower, grunt, npm, babel, etc.
- "I heard Angular was good"
  - Install VSCode + NodeJS + NPM + 950 MB deps + cli
  - blindly copy-past *outdated* tutorial (WebPack3, Ng2)
  - You **can't** understand what you are doing

let's hope those **tools** will be standardized (obsolete).
Meanwhile, TS/JSX depends on those build tools
---

# Good: Cleaner and powerfull
- Better front/back separation:
  - Backend: handle client (iOS, Android, web) request  
    => most popular = HTTPS + REST + JSON
  - Frontend: SinglePageApp (Angular/React/Vue/...)  
    => Client do the routing + page display
- Standard include common technics from past years  
	=> HTML: video, input[pattern,autocomp,type=time]  
	=> CSS: border-radius, variable, gradient, animation  
	=> JS: **import**, websocket, async, let/const  
	=> API: fetch, querySelector, websocket, History  
- Web engine unifying : Gecko/Webkit

---

# Popular Front-end libs/fw

[![](https://i.imgur.com/qYgz7S6.png)](https://gist.github.com/tkrotoff/b1caa4c3a185629299ec234d2314e190)

|            | JS| TS|JSX|Size|  ⭐ |npm i| jobs (tlse)
|---         |:-:|:-:|:-:|---:|---:|----:|------:
|[Angular][1]|   | ✓ |   |766K| 48K| 442k| 300
| [React][2] |   | ✓ | ✓ |133K|130K|4970k| 113
| [Vue][3]   | ✓ | ✓ | ✓ | 58K|140K| 953k| 31

[1]:https://github.com/angular/angular
[2]:https://github.com/facebook/react 
[3]:https://github.com/vuejs/vue      

---

> I'd like to learn webdev, but not TS, npm, webpack

---

> I'd like to learn webdev, but not TS, npm, webpack

Well ... don't learn duh !
![](https://i.imgur.com/Lnw5i8h.jpg)

---

# LiveCoding: Vue

**Component** based **Library** that **sync** `view ⇄ data`

- **Library**: 1 job, no constraint. want more ? import them.
- **Sync**: Writing in an `<input>` will update the data + receiving JSON will update the view
- **Component**: `<g-map lng=3.34 lat=8.74 />`
![](https://i.imgur.com/7XjvVxJ.png)
---
# What's a component

```html
┌─────┐     ┌─────┐
│  ┌──┘     └──┐  │
│┌─│props:['p']│  │
││ └───────────┘  │
│└▶computed:{c}   │
│┌▶data:()=>{d}   │
│└─methods :{m}   │
│  watch │ :{w}   │
└─────┐│ │  ┌─────┘
   ┌──┘▼ ▼  └──┐
   │$emit('ev')│
   └───────────┘
<my-comp p=text v-on:ev=alert></my-comp>
```
---

# What's a component

```html
┌─────┐     ┌────────────────────────┐
│  ┌──┘     └──┐ el/template:`       │
│┌─│props:['p']│─┐  <input           │
││ └───────────┘ └▶  v-bind:type=p   │
│└▶computed:{c} ──▶  v-bind:size=c   │
│┌▶data:()=>{d} ◀─▶  v-model:value=d │
│└─methods :{m} ◀──  v-on:click=m    │
│  watch │ :{w}     ></input>`       │
└─────┐│ │  ┌────────────────────────┘
   ┌──┘▼ ▼  └──┐
   │$emit('ev')│
   └───────────┘
<my-comp p=text v-on:ev=alert></my-comp>
```

---

# Example 0: Basic dependency

```javascript
let MyFooter = {template:`<b>bye</b>`}
let SayHello = {
	props:['prefix'],
	data(){return {user:'tom'}},
	template:`<p>Hi {{prefix}} {{user}}
		<input v-model:value=user>
		<MyFooter/> <my-footer/> </p>`,
	components: {MyFooter},
}
```
```html
<say-hello prefix=Mr></say-hello>
```
<main id=ex0>
<say-hello prefix=Mr></say-hello>
</main>
---

# Data binding Example

```js
TripleInput = {
 data(){return {demo:"init"}},
 template:`<span>Triple:
   <input v-for="i in 3"
     v-bind:size=i
     v-model:value=demo>
 </span>`}
```
```html
	<triple-input></triple-input>
	<triple-input></triple-input>
```
<main id=ex1>
	<triple-input></triple-input>
	<triple-input></triple-input>
</main>

---

```html
<!DOCTYPE html>
<script src="//unpkg.com/vue"></script>
<main>
 <my-header></my-header>
 hello {{user}}
 <my-footer></my-footer>
</main>
<script>
MyHeader = {template:`<h1>Welcome</h1>`}
MyFooter = {template:`<pre>bye</pre>`}
new Vue({
  el: 'main',
  data: () => ({user:'tom'})
  components: {MyHeader, MyFooter},
})
</script>
```

---

# Demo: SPA (HTML part)

```html
<!DOCTYPE html> <!-- Page Example -->
<script src="//unpkg.com/vue"></script>
<script src="//unpkg.com/vue-router"></script>
<main>
 <nav class="tabs is-full">
  <a is=router-link :to="'/'">Home</a>
  <a is=router-link :to="'user'">User</a>
  <a is=router-link :to="'xxx'">xxx</a>
 </nav>
 <router-view />
</main>

```

---

# Demo: SPA (JS part)
Create 3 routed Components, and start Vue

```js
HomePage={template:`<h1>Welcome !</h1>`}
UserPage={template:`<b>User info:</b>`}
E404Page={template:`<pre>Woups</pre>`}

let routes = [
  { path: '/',     component: HomePage},
  { path: '/user', component: UserPage},
  { path: '*',     component: E404Page},
]; // mode = "history"
let router = new VueRouter({routes})
new Vue( {el: 'main', router})
```

---

# Split our components:

```html
<script type=module>
import HomePage from "/HomePage.js";
...
</script>
```

`HomePage.js`:
```js
export default {
	template:`<h1>Welcome</h1>`
}
```
---

*The web now is more complex & powerful,  
but you are free to keep it simple. stupid.*

# Questions ?  


### Ressources

- [VAR Benchmarks](https://stefankrause.net/js-frameworks-benchmark8/table.html)
- [V/R Differences](https://medium.com/javascript-in-plain-english/-e9a1ae8077fd)

</textarea>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remark/0.14.0/remark.min.js"></script>
<script src="remark.min.js"></script>
<script>
remark.create()

let MyFooter = {template:`<b>bye</b>`}
let SayHello = {
	props:['prefix'],
	data: () => ({user:'tom'}),
	template:`<p>Hi {{prefix}} {{user}}
		<input v-model:value=user>
		<MyFooter/> <my-footer/> </p>`,
	components: {MyFooter},
}

new Vue({el:'main#ex0', components:{SayHello}})

TripleInput = {
 data(){return {demo:"init"}},
 template:`<span>Triple:
   <input v-for="i in 3"
   v-bind:size=i*i 
   v-model:value=demo>
 </span>`}

new Vue({el:'main#ex1', components:{TripleInput}})

</script>
